<!DOCTYPE html>
<html lang="en">

<head>
  <title>log in</title>
  <%- include('_partial/_head') -%> 
  <link rel="stylesheet" type="text/css" href="home.css" />
</head>

<header>
  <%- include('_partial/_header') -%>
</header>

<body>
  <div class="container">
    <blockquote allowtransparency="true" class="tiktok-embed" data-video-id='<%= id %>' allowtransparency="true"  > 
        <section style="background-color: cadetblue;"> <a target="_blank" title="@omerikoly"></a> 
            </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
  </div>  
  <div class="button-container">
       <button class="rbutton">Religious</button>
       <button class="nbutton">Neutral</button>
       <button class="sbutton">Secular</button>
    </div>
</body>

</html>