<!DOCTYPE html>
<html lang="en">

<head>
  <title>log in</title>
  <%- include('_partial/_head') -%> 
  <link rel="stylesheet" type="text/css" href="login.css" />
  <script src="signin.js"></script>

</head>

<header>
  <%- include('_partial/_header') -%>
</header>

<body>
    <form action="/login" method="POST">
        
        <div class="container">
          <label for="email"><b>Username</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>
          <br/>
          <br/>
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
          <br/>
          <br/>
          <button class="submit" type="submit">Login</button>
          <button class="signUpBtn" type="button">sign up now</button>
        </div> 
    </form>
</body>

</html>


