<!DOCTYPE html>
<html lang="en">

<head>
  <title>tag</title>
  <%- include('_partial/_head') -%> 
</head>

<header>
  <%- include('_partial/_header') -%>
</header>

<body>
    <h3>Welcome taggers!</h3>
</body>

</html>