@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Spartan:wght@100&display=swap');

body {
  background: #ededed url("https://i.pinimg.com/originals/b6/ea/e8/b6eae8228e172c33c22e7dfc87b88aed.png") fixed no-repeat;
  background-size: 30%;
  background-position: left;
  font-family: 'Permanent Marker', cursive ;
}

.image {
  float: right;
  margin-top:10%;
  height: 350px;
  width: 350px;
    
}

#headline {
  margin-left: 15%;
  color: #69C9D0;
}

button {
  font-family: 'Spartan', sans-serif; font-weight: 600;
  font-size: 15px;
  border: 1px solid black; /* Remove borders */
  color: white; /* White text */
  cursor: pointer; /* Mouse pointer on hover */
  height: 50px; width: 200px;
  padding-top: 15px; padding-bottom: 50px;
}

/*buttons colors and hovers*/
#rel {  background-color: #98e638; margin-bottom: 5%; }
#submit {  background-color:#69C9D0; margin-top: 2%; }
#sec {  background-color: #EE1D52; margin-bottom: 5%;  }
.btn-off:hover { color:black; }
.submitButton:hover { color:black; }