@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Spartan:wght@100&display=swap');

body {
  background: #ededed url("https://i.pinimg.com/originals/b6/ea/e8/b6eae8228e172c33c22e7dfc87b88aed.png") fixed no-repeat;
  background-size: 30%;
  background-position: left;
  font-family: 'Permanent Marker', cursive ;
}

#headline {
  color: #69C9D0;
}

button {
  font-family: 'Spartan', sans-serif; font-weight: 600;
  font-size: 15px;
  border: 1px solid black; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  cursor: pointer; /* Mouse pointer on hover */
}

/*buttons colors and hovers*/
#rel {  background-color: #69C9D0;  }
#sec {  background-color: #EE1D52;}
.btn-off:hover { color:black; }
#submit {  background-color:#98e638;  }
#refresh {  background-color: #fcba03;  }
#error {  background-color: #fa0909;  }
#expert { background-color: #bebcbe; }
.submitButton:hover { color: black; }

#close, #send {  
  background-color: white; color: black;
  border: 1px solid black;
  padding: 8px 12px;
  font-size: 12px;
  }

#exampleModalLabel {
  font-family: 'Spartan', sans-serif; font-weight: 700;
  font-size: 15px;
}

.iframe {
    height: 100%;
    width: 100%
}

div.iframe{
    position: absolute;
    height: 70%;
    width: 35%;
    right: 5%;
    top: 10%;
}

