<!DOCTYPE html>
<html lang="en">

<head>
  <title>home</title>
  <%- include('_partial/_head') -%>
    <link rel="stylesheet" type="text/css" href="home.css" />
    <script src="home.js"></script>
</head>

<header>
  <%- include('_partial/_header') -%>
</header>

<body>
  <h1 id="title">What do you want to tag today?</h1>
  <div class="btn-group">
    <button onclick="nationalistic()">nationalistic videos</button>
    <button onclick="israel()">israel flags</button>
    <button onclick="loc()">location experiment</button>
  </div>


</body>

</html>