<!DOCTYPE html>
<html lang="en">

<head>
  <title>Israel tag</title>
  <%- include('_partial/_head') -%>
    <link rel="stylesheet" type="text/css" href="israel.css" />
    <script src="israel.js"></script>
</head>

<header>
  <%- include('_partial/_header') -%>
</header>

<body>
  <div class="panel">

      <img class="image" id="image" src=<%= imageID %>> 
 
     <div class="tag-panel"  style="position: absolute; left: 36%; top: 40%;">
       <h1 id="headline"><span style="color: #EE1D52;"> Tag </span> the image</h1>
       <div class="buttons-top">
         <button id="sec" class="btn-off" onclick="tag_img(0)">NOT CONTAINS AN ISRALI FLAG</button>
         <button id="rel" class="btn-off" onclick="tag_img(1)">CONTAINS AN ISRALI FLAG</button>
       </div>
 
       <div class="buttons-bottom" style="align-items: center; margin-left: 25%">
         <button id="submit" class="submitButton" onclick="submitTag()">Submit</button>
       </div>
     </div>
   </div>

 


    
  
  
  </body>
  
  </html>